<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technogenr.ocovid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Permissions's -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
        <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

     <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Update3Activity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComplainActivity" />
        <activity android:name=".NeedToDoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdIDb0o-t8xCw3gh_kniTzAMo6y1X4IDY" />

        <activity android:name=".SendDetailsActivity" />
        <activity android:name=".HelpLineActivity" />
        <activity android:name=".TwitterWebActivity" />
        <activity android:name=".WebviewActivity" />
        <activity
            android:name=".HostpotsActivity"
            android:label="@string/title_activity_maps2" />
        <activity android:name=".HotspotAreaActivity" />
        <activity android:name=".VideoMainActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".Up1WebActivity" />
        <activity android:name=".Up2webActivity" />
        <activity android:name=".HelpWeb1Activity" />
        <activity android:name=".HelpWeb2Activity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".HelpWeb3Activity" />
        <activity android:name=".TestCentreActivity" />
    </application>

</manifest>